version: '3.8' 

services:
 
  mysql:
    image: mysql:8 
    container_name: tp_mysql            
    restart: always                      
    env_file: ./.env.db
    volumes:
      - mysql-data:/var/lib/mysql        
    networks:
      - laravel-net                      
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"] 
      timeout: 20s
      retries: 10

  # --- Serveur 1 (PHP FPM) ---
  serveur1:
    build: ./php                        
    container_name: php_fpm1
    restart: always
    volumes:
      - ./Serveur1:/var/www/html         
    env_file: ./.env.db
    environment:
      APP_NAME: "Serveur 1"
      RUN_MIGRATIONS: "true"         
    depends_on:
      mysql:
        condition: service_healthy       # Ici, on attend que MySQL soit prêt
    networks:
      - laravel-net

  # --- Serveur 1 (Nginx) ---
  nginx1:
    image: nginx:alpine
    container_name: nginx1
    restart: always
    ports:
      - "8080:80"                        
    volumes:
      - ./Serveur1:/var/www/html          
      - ./nginx/nginx1.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - serveur1
    networks:
      - laravel-net

  # --- Serveur 2 (PHP FPM) ---
  serveur2:
    build: ./php                         
    container_name: php_fpm2
    restart: always
    volumes:
      - ./Serveur2:/var/www/html         
    env_file: ./.env.db
    environment:
      APP_NAME: "Serveur 2"
      RUN_MIGRATIONS: "false"           
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - laravel-net

  # --- Serveur 2 (Nginx) ---
  nginx2:
    image: nginx:alpine
    container_name: nginx2
    restart: always
    ports:
      - "8081:80"                        
    volumes:
      - ./Serveur2:/var/www/html
      - ./nginx/nginx2.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - serveur2
    networks:
      - laravel-net

# --- Volumes persistants ---
volumes:
  mysql-data:                             


# --- Réseau interne entre tous les containers Laravel ---
networks:
  laravel-net:
    driver: bridge                        
